body{
background:#111;
color:white;
font-family:Arial;
max-width:600px;
margin:auto;
}

input{
width:100%;
padding:10px;
margin:5px 0;
}

button{
padding:8px;
margin:5px 0;
cursor:pointer;
}

#messages{
border:1px solid white;
height:250px;
overflow-y:auto;
padding:5px;
}

.user{
cursor:pointer;
border:1px solid gray;
padding:5px;
margin:5px 0;
}
